.companyProfile__banner {
    background-image: url('../images/companyExampleBanner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

.companyProfile__logo {
    height: 200px;
}

.company-profile__container {
    margin-top: -200px;
    background-color:rgb(256, 256, 256);
}

.companyProfile__container--height {
    height: 130vh;
}

.companyProfile--nopadding {
    padding-right: 0px;
    padding-left: 0px;
}