@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.logged-in-user {
    font-family: "Open Sans";
    font-size: 14px;
}

.logged-in-user-header {
    font-size: 24px;
    font-weight: bold;
}

.logged-in-user-arrow-down {
    font-size: 21px;
}

.logged-in-user-company {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.logged-in-user-city {
    font-size: 14px;
}

.logged-in-user-padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.logged-in-user-intern-positions {
    font-size: 12px;
}

.logged-in-user-bold {
    font-weight: bold;
}

.logged-in-user-background-yellow {
    color: yellow;
}

.logged-in-user-icon {
    font-size: 16px;
    color: red;
}

.logged-in-user-link {
    color: blue;
    cursor: pointer;
}

.logged-in-user-link:hover {
    text-decoration: underline;
}

#filter {
    display: none;
}

#angle-up {
    display: none;
}









/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}