@import url('https://fonts.googleapis.com/css?family=Roboto');

.company-advertisement-main {
    font-family: Roboto;
    font-size: 64px;
}

.company-advertisement-background-3B3C47 {
    background-color: #3B3C47;
}