@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.logged-in-student {
    font-family: "Open Sans";
    font-size: 14px;
}

.logged-in-student-header {
    font-size: 24px;
    font-weight: bold;
}