.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.page-text {
  font-size: 14px;
}

.jumbotron {
  height: 75vh;
  background-image: url("pages/images/adult-beard-business-845451.jpg");
  background-size: cover;
  text-align: center;
}

.jumbo-tron-title {
  padding: 10vh;
}

.jumbo-tron-description {
  margin-top: 2.5vh;
}

.landing-page-easy-info_card{
  text-align: center;
  margin: 10vh;
}

.landing-page-easy-info-premium {
  background-color: #DBD1B9;
}

.page-list {
  margin: 0;
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
